# github action which runs a make script to setup go

name: Go

on:
  push:
    branches:
      - main
    paths-ignore:
      - "README.md"
      - "docs/**"
      - ".github/**"
  release:
    types: [created]
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Git Version
        id: version
        uses: paulhatch/semantic-version@v5.4.0
        with:
          tag_prefix: "v"
          version_format: ${{ github.event_name == 'release' && '${major}.${minor}.${patch}' || '${major}.${minor}.${patch}-prerelease${increment}' }}
      - name: Setup buildx
        uses: docker/setup-buildx-action@v3
      - name: Run make
        run: |
          VERSION=${{ steps.version.outputs.version }} make docker-build

      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.13.0
        with:
          cluster_name: kind

      - name: Load Image into Kind Cluster and deploy
        run: |
          VERSION=${{ steps.version.outputs.version }} make kind-load
          VERSION=${{ steps.version.outputs.version }} make kind-deploy

      - name: Install Chainsaw
        uses: kyverno/action-install-chainsaw@v0.2.14

      - name: Run Chainsaw Test
        run: chainsaw test --skip-delete=true e2e

      - name: Login to GitHub Container Registry
        if: github.event_name == 'push' || github.event_name == 'release'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish Image
        if: github.event_name == 'push' || github.event_name == 'release'
        run: |
          VERSION=${{ steps.version.outputs.version }} make docker-push
      - name: Publish Helm Chart
        if: github.event_name == 'push' || github.event_name == 'release'
        run: |
          VERSION=${{ steps.version.outputs.version }} make helm-push
